.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73,79,82);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navStyle{
  color: white;
  text-decoration: none;
}

.Footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;

}

h1{
  text-align: center;
}